<!DOCTYPE html>
<html>
  <head>
    <title>George Richmond - Software Developer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">

      <div class="jumbotron">
        <h1>George Richmond <br/>
          Software Developer</h1>
        <p class="lead">I'm a Ruby/Rails and Javascript developer and an expert in continuous deployment. </p>
      </div>

      <div class="row marketing">

        
        <div class="col-lg-6">
          <h4>Contact me</h4>
          <p>georgerichmond@gmail.com</p>

        </div>
      </div>

      <div class="footer">
        <p>&copy; George Richmond 2013</p>
      </div>

    </div> <!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>